<mat-card>

  <mat-toolbar color="primary">Detalhes do curso</mat-toolbar>

  <mat-card-content>
    <!-- o property binding associa este formulário html à propriedade courseForm do componente -->
    <form [formGroup]="courseForm" class="min-width">

      <mat-form-field class="full-width">
        <!-- o atributo formControlName associa este input ao campo name do courseForm -->
        <input matInput placeholder="Nome" formControlName="name" #name>
        <mat-hint align="end">{{name.value.length || 0}}/50</mat-hint>
        <mat-error *ngIf="courseForm.get('name')?.invalid">{{formUtils.getErrorMessage(courseForm, 'name')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
        </mat-select>
        <mat-error *ngIf="courseForm.get('category')?.invalid">{{formUtils.getErrorMessage(courseForm,
          'category')}}</mat-error>
      </mat-form-field>

      <mat-toolbar>
        <span>Aulas</span>
        <button mat-icon-button color="accent" (click)="addNewLesson()"><mat-icon
            aria-label="Adicionar uma nova aula">add</mat-icon></button>
      </mat-toolbar>

      <mat-error *ngIf="formUtils.isFormArrayRequiredAndTouched(courseForm, 'lessons')">Adicione pelo menos uma
        aula</mat-error>

      <!-- A propriedade lessons não está declarada diretamente na classe, mas ela existe dentro do courseForm, que foi referenciado na linha pai (form), por isso, o Angular entende que estamos referenciando essa propriedade dentro do formulário
      O ngFor itera sobre o array de aulas e cria dinamicamente uma linha (<tr>). O index é uma variável especial do *ngFor, que representa a posição atual do item dentro do array. -->
      <table style="width: 100%;" formArrayName="lessons" *ngFor="let lesson of getLessonsFormArray(); let i = index">
        <!-- A diretiva [formGroupName] é usada SOMENTE dentro de um FormArray para indicar que cada <tr> será um FormGroup separado dentro do FormArray. -->
        <tr [formGroupName]="i">
          <!-- Coluna 1 - nome da aula -->
          <td style="width: 65%;">
            <mat-form-field class="full-width">
              <mat-label>Nome da aula</mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="getLessonsFormArray()[i].get('name')?.invalid">
                {{ formUtils.getFormArrayFieldErrorMessage(courseForm, 'lessons', 'name', i) }}
              </mat-error>
            </mat-form-field>
          </td>
          <!-- Coluna 2 - URL YouTube -->
          <td style="width: 30%;">
            <mat-form-field class="full-width">
              <mat-label>URL</mat-label>
              <span matPrefix>https://youtu.be/</span>
              <input matInput formControlName="youtubeUrl">
              <mat-error *ngIf="getLessonsFormArray()[i].get('youtubeUrl')?.invalid">
                {{ formUtils.getFormArrayFieldErrorMessage(courseForm, 'lessons', 'youtubeUrl', i) }}
              </mat-error>
            </mat-form-field>
          </td>
          <!-- Coluna 3 - Lixeira -->
          <td>
            <button mat-icon-button color="warn" (click)="removeLesson(i)"><mat-icon
                aria-label="Remover aula">delete</mat-icon></button>
          </td>
        </tr>
      </table>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>